# Ambiente Virtual
venv/
.venv/
env/
.env/

# Configurações do ambiente e chaves secretas
.env
*.pem
*.key

# Compilados Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos temporários e pastas de saída
temp/
output/

# Pasta data, mas permite PDFs do PCDT
data/
!data/pcdt*/
!data/pcdt*/*.pdf

# Sistema Operacional
.DS_Store
Thumbs.db
